<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body style="margin: 40px 80px 60px 140px">

	<h1 style="font-size: 140%" align="center"><b>TERMO DE
		RESPONSABILIDADE</b></h1>
	<p th:inline="text" align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eu,
		[[${dto.usuario.nomeUsuario}]], ocupante do cargo [[${dto.usuario.cargoUsuario}]] do
		Ministério da Cultura, CPF [[${dto.usuario.cpfUsuario}]], DAS [[${dto.usuario.limiteAtesto.dasAtesto}]], declaro para os
		devidos fins que sou responsável pelo bem patrimonia/comodatado abaixo
		relacionado, que se encontra em perfeitas condições de uso e
		funcionamento, e comprometo-me a zelar pela sua boa utilização e
		conservação, ciente de que:</p>

	<table style="margin-left: 5%">
	<tr>
		<td>a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td align="justify">Arcarei com as despesas por danos ocorridos por uso
			indevido, comprometendo-me a registrar ocorrência e comunicar
			imediatamente à Coordenação-Geral de Tecnologia da Informação, caso
			ocorra avaria, roubo ou extravio do bem;</td>
	</tr>		
	

	<tr>
		<td>b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td align="justify">Declaro conhecer as normas do Ministério da Cultura
			referentes aos valores-limites para custeio de despesas de telefonia
			móvel, bem como acompanhar eventuais alterações, responsabilizando-me
			integralmente pelos valores excedentes a esses limites (disponível na
			intranet no link Boletins administrativos);</td>
	</tr>

	<tr>
		<td>c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td align="justify">Comprometo-me a promover a devolução do bem objeto do
			presente TR, ao ser destituído do referido cardo ou quando for
			solicitado pela Coordenação-Geral de Tecnologia da Informação;</td>
	</tr>

	<tr>
		<td>d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td style="margin-left: 5%" align="justify">Assumo ainda, que tenho ciência da
			tecnologia do aparelho cedido(<i>GSM - Global System for Mobile
				communications, ou sistema Global para Comunicações Móveis</i>), e que
			para realizar chamadas interubanas deverei utilizar o código de área
			da operadora vencedora do processo licitatório realizado pelo MinC.
		</td>
	</tr>
</table>


	<p style="margin-left: 7%">
		<b>ESPECIFICAÇÂO/DESCRIÇÃO DO BEM:</b>
	</p>
	<p style="margin-left: 7%" align="justify">
		<b>01 aparelho telefônico marca:XXXXX, modelo: XXXX, IMEI
			0000000000000000, x carregadores, x cabos USB, fone de ouvido, cartão
			de memória. Linha:(xx) 9 xxxx-xxxx.</b>
	</p>

	<p style="margin-left: 7%">
		<b>VALOR DO BEM: R$000,0(XXXXXXXXXXXXXXXXXXXXXX).</b>
	</p>
	<br></br>

	<p style="border: solid" align="justify">
		DECLARO QUE CONFERI O APARELHO ACIMA ESPECIFICADO E O MESMO
		ENCONTRA-SE EM PERFEITAS CONDIÇÕES DE USO, NÃO APRESENTANDO DEFEITOS
		OU AVARIAS DE QUALQUER NATUREZA.<br></br>
		<br></br>

	</p>

</body>
</html>