<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body style="margin: 40px 80px 60px 140px">

	<div align="justify">
		<p> À Secretaria de Fomento e Incentivo à Cultura </p>
        <p>
            Assunto: <b>Fatura de serviços de telefonia móvel e/ou internet.</b>
        </p>
    </div>

	<p align="justify">
		<ol type="1">
			<li>Encaminhamos em anexo faturas de serviços de telefonia móvel e/ou internet, 
			prestados a este Ministério pela Empresa Claro S.A, dos usuários das 
			linhas: 61-9150-8243, 61-9216-4137, 61-9109-5209 + 61-9287-2873 e 
			lotado nessa Secretaria, referente ao mês de fevereiro 2016.</li> <br/><br/>
						
			<li>Ressaltamos ainda que, em virtude da emissão de faturas de telefone celular e modem com valores equivocados por parte da operadora Claro S.A, a Divisão de Telefonia (DITEL) da Coordenação-Geral de Tecnologia da Informação (CGTI), refez os cálculos das faturas, as quais deverão ser devidamente atestadas pelo usuário (carimbo e assinatura), concordando com a minutagem dos serviços apresentados em cada detalhamento. Tais faturas deverão ser devolvidas à Divisão de Telefonia, em até dez dias úteis, contados a partir da data de recebimento do detalhamento de utilização.</li> <br/><br/>
						
			<li>Informamos que a Divisão de Telefonia permanecerá a disposição para os demais esclarecimentos que porventura se façam necessários, por meio dos telefones (61) 2024-2547/2024-2699/2024-2700.</li> <br/><br/>
						
		</ol>
	</p>
					

	<p style=" margin-left: 3%;">
        Respeitosamente,
    </p>
    <br></br>

    <div style=" text-align: center; line-height: 5px;">
    
    <p>
        <b>
            HAYLANDER RODRIGUES DE SOUSA 
        </b>
    </p>
    <p>
        Chefe de Serviço    
    </p>

    </div>
</body>
</html>