<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>

<body style="margin: 40px 80px 60px 140px">

	<div align="justify">
        <p>
            Assunto: <b>Uso de Linha Móvel Celular e/ou internet.</b>
        </p>
    </div>

    
	<ol type="1" style="margin-left: 5%">

		<li style="text-align: justify">Encaminhamos a Vossa Senhoria faturas dos serviços de 
		telefonia móvel e/ou internet, prestados a este Ministério pelas operadoras Claro S.A, 
		referente a <span th:text="${#strings.substring(faturaLista[0].fatura.mesRef,4,6)}" ></span>/<span th:text="${#strings.substring(faturaLista[0].fatura.mesRef,0,4)}"></span>. 
        </li>
		<br></br>

		<li style="text-align: justify">Ressaltamos ainda que, em virtude da emissão de faturas de telefone 
		celular e modem com valores equivocados por parte da operadora Claro S.A, a Divisão de Telefonia e Serviços(DITEL) 
		da Coordenação-Geral de Infraestrutura Tecnológica (CGTEC) refez os cálculos das faturas conforme o contratado. 
		Os valores apontados foram devidamente conferidos e de acordo com o estabelecido na Norma Operacional 
		nº 1, de 18 de junho de 2013, há uma diferença entre o limite permitido pelo MinC e aquele efetivamente 
		utilizado por Vossa Senhoria, conforme consta no quadro abaixo, a importância de:        
		<br></br>
        
        
        <table style="width:100%; border: 1px solid;">
            <tr>
                <th style="text-align: center;" >MÊS</th>
                <th style="text-align: center;" >ANO</th> 
                <th style="text-align: center;" >COTA</th>
                <th style="text-align: center;" >VALOR DAS FATURAS</th>
                <th style="text-align: center;" >VALOR EXCEDENTE</th>
            </tr>
            <tr>
                <td style="text-align: center;" th:text="${#strings.substring(faturaLista[0].fatura.mesRef,4,6)}">Outubro</td>
                <td style="text-align: center;" th:text="${#strings.substring(faturaLista[0].fatura.mesRef,0,4)}">2015</td> 
                <td style="text-align: center;" th:text="|R$ ${#numbers.formatDecimal(alocacaoRepasse[0].usuario.limiteAtesto.valorLimite,0,2,'COMMA')}|" >R$ 300,00</td>
                <td style="text-align: center;" th:text="|R$ ${#numbers.formatDecimal(#aggregates.sum(faturaLista.![valorTotal]),0,2,'COMMA')}|">R$ 1290,60</td>
                <td style="text-align: center;" th:text="|R$ ${#numbers.formatDecimal(#aggregates.sum(faturaLista.![valorTotal]) - alocacaoRepasse[0].usuario.limiteAtesto.valorLimite,0,2,'COMMA')}|" >R$ 990,60</td>
                
            </tr>
            
        </table>
        <br></br>
        </li>

		<li style="text-align: justify">Importante destacar que a referida Norma estabelece em seu artigo 10, parágrafo 4º 
		que os valores excedentes aos limites estabelecidos, bem como as ligações efetuadas em caráter particular, deverão 
		ser objeto de ressarcimento pelo usuário em até (cinco) dias, contados a partir da apresentação da conta telefônica. </li>
		<br></br>

		<li style="text-align: justify">Após efetuar ressarcimento, por intermédio de Guia de Recolhimento da União - GRU, a 
		ser emitida pela Coordenação-Geral de Execução Orçamentária e Financeira, para depósito em conta bancária, o usuário 
		deve enviar comprovação de quitação juntamente com a fatura devidamente atestada à Divisão de Telefonia, no prazo máximo 
		de dez dias úteis, contados a partir da data de recebimento do detalhamento das despesas, conforme artigo 10, parágrafo 3º 
		da norma supracitada.
        </li>
		<br></br>

        <li style="text-align: justify">Poderá ser custeada por este Ministério a despesa excedente quando realizada no interesse do 
        serviço público, mediante justificativa fundamentada do usuário da linha e deferida pelo Secretário-Executivo, conforme artigo
         10, § 2º da norma operacional vigente.
        </li>
		<br></br>

        <li style="text-align: justify">Demais disso, a Divisão de Telefonia permanecerá a disposição para os demais esclarecimentos que
         porventura se façam necessários, por meio dos telefones (61)2024-2547, (61)2024-2699 e (61)2024-2700.
        </li>
		<br></br>

	</ol>

	<p style=" margin-left: 8%;">
        Respeitosamente,
    </p>
    <br></br>

    <div style=" text-align: center; line-height: 5px;">
    
    <p>
        <b>
            CAMILA DA SILVA PANZA AMORIM
        </b>
    </p>
    <p>
        Chefe de Divisão  
    </p>

    </div>
</body>
</html>