<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>
<body style="margin: 40px 80px 60px 140px">

	<div align="justify">
		 <p>
            Assunto: <b>Fatura de serviços de telefonia móvel e/ou internet.</b>
        </p>
    </div>

	<p align="justify">
		<ol type="1">
			<li>Encaminhamos em anexo faturas de serviços de telefonia móvel e/ou internet, 
			prestados a este Ministério pela Empresa Claro S.A, das 
			linhas: <span th:each="aloc: ${alocacaoRepasse}"> <span th:text="${aloc.linha.numeroLinha}" > </span> </span>e 
			lotado nessa Secretaria, referente a <span th:utext="|${#strings.substring(faturaLista[0].fatura.mesRef,4,6))+'/'+#strings.substring(faturaLista[0].fatura.mesRef,0,4)}|"></span>.</li> <br/><br/>
						
			<li>Ressaltamos ainda que, em virtude da emissão de faturas de telefone 
			celular e modem com valores equivocados por parte da operadora Claro S.A, 
			a Divisão de Telefonia e Serviços (DITEL) da Coordenação-Geral de Infraestrutura Tecnológica (CGTEC), 
			refez os cálculos das faturas, as quais deverão ser devidamente atestadas pelo 
			usuário (carimbo e assinatura), concordando com a minutagem dos serviços apresentados 
			em cada detalhamento. Tais faturas deverão ser devolvidas à Divisão de Telefonia, 
			em até dez dias úteis, contados a partir da data de recebimento do detalhamento de utilização.</li> <br/><br/>
						
			<li>Informamos que a Divisão de Telefonia permanecerá a disposição para os demais 
			esclarecimentos que porventura se façam necessários, por meio dos telefones (61) 2024-2547/2024-2699/2024-2700.</li> <br/><br/>
						
		</ol>
	</p>
					

	<p style=" margin-left: 3%;">
        Respeitosamente,
    </p>
    <br></br>

    <div style=" text-align: center; line-height: 5px;">
    
    <p>
        <b>
            CAMILA DA SILVA PANZA AMORIM
        </b>
    </p>
    <p>
        Chefe de Divisão
    </p>

    </div>
</body>
</html>