<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
</head>
<body style="margin-left: 2.5% px; margin-right: 25px">


	<table style="width: 100%; border-radius: 10px;">
		<tbody>
			<tr>
				<td style="border: hidden; margin-left: 2.5%">
					<p align="center" style="margin-left: 2.5%; margin-right: 1.5%">
						TERMO RESPONSABILIDADE
					</p><br/>

					<p align="justify">
						<ol>
						AQUI E NOIS !! TI RULZ!!!
							<li>Encaminhamos fatura de serviços de telefonia móvel e/ou internet, prestados a este Ministério pelas Empresas Claro S.A e Embratel S.A, .</li> <br/><br/>
						
							<li>Importante destacar que a referida Norma estabelece em seu artigo 10, parágrafo 4º que os valores excedentes aos limites estabelecidos, bem como as ligações efetuadas em caráter particular, deverão ser objeto de ressarcimento pelo usuário em até (cinco) dias, contados a partir da apresentação da conta telefônica.</li> <br/><br/>
						
							<li>Após efetuar ressarcimento, por intermédio de Guia de Recolhimento da União - GRU, a ser emitida pela Coordenação-Geral de Execução Orçamentária e Financeira, para depósito em conta bancária, o usuário deve enviar comprovação de quitação juntamente com a fatura devidamente atestada à Divisão de Telefonia, no prazo máximo de dez dias úteis, contados a partir da data de recebimento do detalhamento das despesas, conforme artigo 10, parágrafo 3º da norma supracitada.</li> <br/><br/>
						
							<li>Poderá ser custeada por este Ministério a despesa excedente quando realizada no interesse do serviço público, mediante justificativa fundamentada do usuário da linha e deferida pelo Secretário-Executivo, conforme artigo 10, § 2º da norma operacional vigente.</li> <br/><br/>
						
							<li>Demais disso, a Divisão de Telefonia permanecerá a disposição para os demais esclarecimentos que porventura se façam necessários, por meio dos telefones (61)2024-2547, (61)2024-2699 e (61)2024-2700.</li><br/><br/>
						</ol>
					</p>
				</td>


			</tr>


		</tbody>
	</table>

</body>
</html>