/*Ajustes da Aplicação SisTel*/

.modal-backgdrop fade in{
	background-color: red;
}

.glyphicon{
	padding: 8%;
}

.navbar-brand {
	width: 100%;
	height: 70px;
	margin-right: 0px;
	right: 2px;
}
.navbar{
	background-color: #0f4098;
}
.navbar-brand > img {
    position: absolute;
    top: 0px;
    width: 35%;
    margin-left: 60%;
    margin-top: 5%;
}

.panel-default {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom:0px;
}

.alert {
	margin-left: 0px;
	margin-right: 0px;
}

.dt-link-panel {
	float: right;
	pandding: 0px;
	panding-top: 0px;
}

#dropdown-menupage{
	width: 100%;
}

.dt-link-menu {
	width: 95%;
	text-align: left; 
	font-family: Arial;
}

.dt-dispositivo-panel {
	float: left;

}

.container {
	position: top;
	margin: 0px;
	padding: 0px;
	bording: 0px;
	
}

#loginPainel{
	width: 23%;
	margin: 0 auto;
	
}
#identificacaoUsuarioMenu{
	color: white;
	margin-left: 15.5%;
	font-family: Arial;
}

#espaco {
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100%; 
}



#conteudo {
	margin-top: 0px;
	padding-left: 0px; 
	padding-right: 0px;
	height: 100%;
}

#cabecalho{
	margin:0;
	padding:0;
	width: 100%;

}

#Menu > div > ul{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.tableusuario{
	border-collapse: collapse;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
}


.tdusuaio{
	font-family: Arial;
}

/* Ajustes menu responsivo  */
* {
    margin: 0;
    padding: 0;
}

/* Isto ï¿½ necessï¿½rio para nï¿½o haver rolagens horizontais quando movermos os elementos */
html, body {
  	overflow-x: hidden;
	width: 100%;
	position: absolute;
	height: 100vh;
	margin:0px;
	padding:0px;
	}


header {

    padding: 0px;
    overflow: hidden;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    font-size: 1.5em;
}
h1 a {color: #FFF; text-decoration: none;}

header input {
    float: right;
    padding: 10px;
    width: 200px;
    border: none;
}

.main {
    padding: 30px;
}
.main p {
    font-size: .9em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

#botaodisp {
	margin: 0px 0px 0px 0px;
}

.menu-anchor {
    width: 40px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background: #0f4098;
}

.menu-anchor:before {
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #ffffff;
    box-shadow: 0 .45em 0 0 #83adff, 0 .9em 0 0 #83adff; 
}

.menu-active .menu-anchor {background: #357cff}


menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    background: #1659bf;
    box-shadow: inset -5px -10px 10px 0 rgba(255,0,0,.3)
}

menu li a {
    display: block;
    border-bottom: 2px solid rgba(255,255,255,.3);
    margin: 0 0px;
    padding:0px;
    color: #FFF;
    text-decoration: none;
    width: 100%;
}

menu li a:hover {
    background: #FFF;
    color: #1659bf;
    width: 96%;
}

/*
    Aqui vocï¿½ esconde o menu para fora da tela 
    O valor ï¿½ exatamente a largura da sidebar
*/
menu {
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/*
    Essa ï¿½ a posiï¿½ï¿½o original do HEADER e do MAIN
*/
header, .main {
    -webkit-transform: translateX(1);
    -moz-transform: translateX(1);
    -ms-transform: translateX(1);
    transform: translateX(1);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menu-active header, 
.menu-active .main {
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    transform: translateX(220px);
}
@media (max-width:999px){
		#menu {
	position: fixed;
}
}
@media (min-width: 1000px) { 

menu {
    -webkit-transform: translateX( 0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}
.main {
    padding: 0px;
}
.menu-anchor {
    display: none;

}

.menu-anchor:before {
    display: none;
}


}




