<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Pessoas</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/alocacoes}">

		<div layout:include="MensagemSucesso"></div>
		<!-- <div layout:include="MensagemErro"></div> -->

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Fornecimento de
						Dispositivos</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/inicio}">Voltar</a>
				<!--	<a class="btn btn-primary" th:href="@{/passo-a-passo}">Cadastramento integrado!</a>-->
				</div>
			</div>
			<br></br>
			<div class="painel-body">

				<div class="form-group">
					<label class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<select name="usuario" class="col-sm-4 form-control">
							<option value="">----Selecione----</option>
							<option th:each="usuario : ${usuarios}"
								th:value="${usuario.idUsuario}" th:valuetype="usuario"
								th:text="${usuario.nomeUsuario}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Dispositivo</label>
					<div class="col-sm-4">
						<select name="dispositivo" class="col-sm-4 form-control">
							<option value="">----Selecione----</option>
							<option th:each="dispositivo : ${dispositivos}"
								th:value="${dispositivo.idDispositivo}"
								th:valuetype="dispositivo"
								th:text="${dispositivo.modeloDispositivo+' - '+dispositivo.marcaDispositivo+' | '+ dispositivo.imeiDispositivo}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Chip</label>
					<div class="col-sm-4">
						<select name="chip" class="form-control">
							<option value="">----Selecione----</option>
							<option th:each="chip : ${chips}" th:value="${chip.idChip}"
								th:valuetype="chip" th:text="${chip.tipoChip+' | '+chip.numeroSerieChip}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Linha</label>
					<div class="col-sm-4">
						<select name="linha" class="col-sm-4 form-control">
							<option value="">----Selecione----</option>
							<option th:each="linha : ${linhas}" th:value="${linha.idLinha}"
								th:valuetype="linha" th:text="${linha.numeroLinha}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Plano da linha</label>
					<div class="col-sm-2">
						<select name="categoria" class="form-control">
							<option value="">----Selecione----</option>
							<option th:each="categoria : ${categorias}"	th:value="${categoria.idCategoria}" 
							th:valuetype="categoria" th:text="${categoria.descricaoCategoria}" />
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="dataVencimento" class="col-sm-2 control-label">Data	do fornecimento</label>
					<div id="datetimepicker" class="col-sm-4 input-group input-append date">
						<input type="text" name="dtRecebimento" class="col-sm-2 form-control"/>
						<span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
		
					</div>
				</div>	
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>

			</div>
		</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
	</form>
	
</section>
</html>