<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
	<div layout:include="MensagemSucesso"></div>

	<form method="POST" th:action="@{/dispositivos}">

		<div class=" col-md-12  panel sem_sombra padding20 bg">
			<div class=" col-md-12 sem_sombra padding-0">
				<div class="col-md-6 padding-0 sem_sombra intro">
					<h3 class="text-left">Lista de Alocações</h3>
				</div>


				<div class="clearfix">

					<a class="btn btn-link dt-link-panel direita texto_td"
						th:href="@{/inicio}"> <span class="fa fa-angle-double-left"
						style="margin-right: 5px;"></span> <span>Voltar</span>
					</a>
				</div>

				<div class="col-md-12 padding-7 pesquisa">


					<div class="col-md-8 pesquisa"></div>
					<div class="col-md-4 input-group p_aloc" id="input_pesquisa">
						<input class="form-control" placeholder="Digite aqui sua pesquisa" />
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="submit">
								<span class="fa fa-search text-center b"> </span>
							</button>
						</span>
					</div>


				</div>



<div id="infoDocumentosModalHolder"></div>

				<div class="col-md-12 panel padding-0">

					<div class="painel-body bg-panel padding-7 tabela">
						<div class="col-md-12 tabs-area">
							<ul id="tabs-demo4"
								class="nav nav-tabs nav-tabs-v3 panel-body row" role="tablist">
								<li role="presentation" class="active text-center tab-docs"><a
									href="#tabs-demo4-area1" id="tabs-demo4-1" role="tab"
									data-toggle="tab" aria-expanded="true">ATIVAS</a></li>
								<li role="presentation" class="text-center tab-docs"><a
									href="#tabs-demo4-area2" role="tab" id="tabs-demo4-2"
									data-toggle="tab" aria-expanded="false">TODOS</a></li>
								<li style="float: right;"></li>

							</ul>
							<div id="tabsDemo4Content" class="tab-content tab-content-v3">
								<div role="tabpanel" class="tab-pane fade active in"
									id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1">

									<span
										style="font-size: 14px; font-family: 'open_sansregular'; color: #c1c1c1;">
										EXIBINDO AS LINHAS NO PERÍODO</span>

									<div class="table-responsive" style="margin-top: 10px;">
										<table class="table table-bordered table-striped tabela">
											<thead>
												<tr>
													<th class="text-center col-md1">Alocação</th>
													<th class="text-center col-md2">Data</th>
													<th class="text-center col-md2">Nome</th>
													<th class="text-center col-md2">CPF</th>
													<th class="text-center col-md2">Área</th>
													<th class="text-center col-md2">Linha</th>
													<th class="text-center col-md2">Tipo</th>

												</tr>
											</thead>

											<tbody id="linha-info">

												<tr th:if="${atv.dtDevolucao} == null" th:each="atv : ${alocacaoAtiva}"
												th:onclick="'guideTips:abrirDocumentacaoModal(\''+${atv.idAlocacao}+'\');'">
													<td class="text-center" th:text="${atv.idAlocacao}">#15</td>
													<td class="text-center" th:text="${atv.dtRecebido}">10/10/2010</td>
													<td class="text-center" th:text="${atv.usuario.nomeUsuario}">João Ipsum</td>
													<td class="text-center" th:text="${atv.usuario.cpfUsuario}" >9563481276</td>
													<td class="text-center" th:text="${atv.usuario.usuarioSigla}">Ditel</td>
													<td class="text-center numTable" th:text="${atv.linha.numeroLinha}">61993696554</td>
													<td class="text-center" th:text="${atv.dispositivo.tipoDispositivo}">Tablet</td>

												</tr>
												<tr>
													<td colspan="9" th:if="${#lists.isEmpty(alocacaoAtiva)}">Nenhum
														serviço alocado!</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area2"
									aria-labelledby="tabs-demo4-area2">
									<span
										style="font-size: 14px; font-family: 'open_sansregular'; color: #c1c1c1;">
										EXIBINDO AS LINHAS NO PERÍODO</span>

									<div class="table-responsive" style="margin-top: 10px;">
										<table class="table table-bordered table-striped tabela">
											<thead>
												<tr>
													<th class="text-center col-md1">Alocação</th>
													<th class="text-center col-md2">Data</th>
													<th class="text-center col-md2">Nome</th>
													<th class="text-center col-md2">CPF</th>
													<th class="text-center col-md2">Área</th>
													<th class="text-center col-md2">Linha</th>
													<th class="text-center col-md2">Tipo</th>

												</tr>
											</thead>

											<tbody id="linha-info">

											<tr th:each="atv : ${alocacaoAtiva}"
												th:onclick="'guideTips:abrirDocumentacaoModal(\''+${atv.idAlocacao}+'\');'">
													<td class="text-center" th:text="${atv.idAlocacao}">#15</td>
													<td class="text-center" th:text="${atv.dtRecebido}">10/10/2010</td>
													<td class="text-center" th:text="${atv.usuario.nomeUsuario}">João Ipsum</td>
													<td class="text-center" th:text="${atv.usuario.cpfUsuario}" >9563481276</td>
													<td class="text-center" th:text="${atv.usuario.usuarioSigla}">Ditel</td>
													<td class="text-center numTable" th:text="${atv.linha.numeroLinha}">61993696554</td>
													<td class="text-center" th:text="${atv.dispositivo.tipoDispositivo}">Tablet</td>
												</tr>
												<tr>
													<td colspan="9" th:if="${#lists.isEmpty(alocacaoTodas)}">Nenhum
														serviço alocado!</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>