<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Faturas</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST"
		enctype="multipart/form-data" th:action="@{/faturas/nova}">

		<div id="fatura" class="alert alert-success" th:if="${messageSucesso}">
			<span th:text="${messageSucesso}"></span>
		</div>
		<div id="fatura" class="alert alert-danger" th:if="${messageErro}">
			<span th:text="${messageErro}"></span>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Faturas</h1>
				</div>
			</div>
			<div class="painel-body">
				<div class="form-group">

					<label for="fatura" class="col-sm-2 control-label">Fatura:</label>
					<input class="btn btn-alert btn-file" type="file" name="file" />
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button class="btn btn-primary" type="submit" value="Upload">Upload</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div>
		<ul>
			<li th:each="file : ${files}"><a th:href="${file.href}"
				th:text="${file.rel}"></a></li>
		</ul>
	</div>

</section>
</html>