<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Pessoas</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST"
		th:action="@{/usuarios}" th:object="${usuario}">

		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Pessoas</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/inicio}">Voltar
						para Lista</a>
				</div>
			</div>

			<div class="painel-body">
				<input type="hidden" th:field="*{idUsuario}" />
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome"
							th:field="*{nomeUsuario}" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cpfUsuario')} ? has-error">
					<label for="cpf" class="col-sm-2 control-label">CPF</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="cpf" th:field="*{cpfUsuario}" />
					</div>
				</div>

<!-- 				<div class="form-group"
					th:classappend="${#fields.hasErrors('matricula')} ? has-error">
					<label for="matricula" class="col-sm-2 control-label">Matricula</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="matricula"
							th:field="*{matricula}"/>
					</div>
				</div> -->

<!-- 				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Vinculo</label>
					<div class="col-sm-4">
						<select class="form-control" name="vinculo" th:field="*{vinculo}">
							<option th:each="vinculo : ${todosVinculoCadastroPessoa}"
								th:value="${vinculo}" th:text="${vinculo.descricao}"></option>
						</select>
					</div>
				</div> -->
				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('lotacaoUsuario')} ? has-error">
					<label for="lotacao" class="col-sm-2 control-label">Lotação</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="lotacao"
							th:field="*{lotacaoUsuario}" />
					</div>
				</div>
				
				<!-- Cargo inserir dropdown -->
				<div class="form-group"
					th:classappend="${#fields.hasErrors('cargoUsuario')} ? has-error">
					<label for="cargo" class="col-sm-2 control-label">Cargo</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cargo"
							th:field="*{cargoUsuario}" />
					</div>
				</div>
								
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">DAS/FCPE</label>
					<div class="col-sm-3">
						<select class="form-control" name="tipo" th:field="*{limiteAtesto}">
						<option value="">----Selecione----</option>
							<option th:each="limite : ${limiteAtesto}"
								th:value="${limite.idLimiteAtesto}" th:valuetype="limiteAtesto" th:text="${limite.dasAtesto}"></option>
						</select>
					</div>
				</div> 
								
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>