<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Pessoas</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" th:action="@{/faturas}"
		th:object="${LeitorFebrabanV3}">

		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Faturas</h1>
				</div>
			</div>

			<div class="painel-body">

				<div class="col-sm-4" modelAttribute="fileBean" method="post"
					enctype="multipart/form-data">
					<label for="fileData" path="fileData">Selecione Fatura</label><br />
					<br /> <input path="fileData" type="file" />
				</div>

				<br>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Vizualisar</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input  type="submit" value="Enviar" /> 
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>