<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Dispositivos</title>
</head>

<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" th:action="@{/dispositivos}"
		th:object="${cadastroDispositivo}">
		
		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Dispositivos</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/inicio}">Voltar
						para Lista de Dispositivos</a>
				</div>
			</div>
 
			<div class="painel-body">
			  <input type="hidden" th:field="*{id}"/>
				<div class="form-group" th:classappend="${#fields.hasErrors('marca')} ? has-error">
					<label for="marca" class="col-sm-2 control-label">Marca</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="marca"
							th:field="*{marca}" />
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('modelo')} ? has-error">
					<label for="modelo" class="col-sm-2 control-label">Modelo</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="modelo"
							th:field="*{modelo}" />
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('nrserie')} ? has-error">
					<label for="nrserie" class="col-sm-2 control-label">Número de Série</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nrserie"
							th:field="*{nrserie}" />
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('imei')} ? has-error">
					<label for="imei" class="col-sm-2 control-label">Número de IMEI</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="imei"
							th:field="*{imei}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Tipo</label>
					<div class="col-sm-3">
						<select class="form-control" name="tipo" th:field="*{tipo}">
							<option th:each="tipo : ${todosDispositivoTipo}"
								th:value="${tipo}" th:text="${tipo.descricao}"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? has-error">
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-valorCss" id="valor" th:field="*{valor}" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>