<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Pessoas</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" th:action="@{/usuarios}"
		th:object="${usuario}">

		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Pessoas</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/inicio}">Voltar</a>
				</div>
			</div>

			<div class="painel-body">
				<input type="hidden" th:field="*{idUsuario}"/>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nome"
							th:field="*{nomeUsuario}" />
					</div>
				</div>


				<div class="form-group"
					th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
					<label for="nomePrimeiro" class="col-sm-2 control-label">Primeiro
						nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nomePrimeiro"
							th:field="*{primeiroNomeUsuario}" />
					</div>
				</div>



				<div class="form-group"
					th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
					<label for="nomeSobrenome" class="col-sm-2 control-label">Segundo
						nome</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nomeSobrenome"
							th:field="*{sobrenomeUsuario}" />
					</div>
				</div>

				<!-- Cargo inserir dropdown -->
				<div class="form-group"
					th:classappend="${#fields.hasErrors('cargoUsuario')} ? has-error">
					<label for="cargo" class="col-sm-2 control-label">Cargo</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cargo"
							th:field="*{cargoUsuario}" />
					</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('cpfUsuario')} ? has-error">
					<label for="cpfUsuario" class="col-sm-2 control-label">CPF</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="cpfUsuario" name="cpfUsuario"
							th:field="*{cpfUsuario}" />
					</div>
				</div>

				<div class="form-group">
					<!-- th:classappend="${#fields.hasErrors('email')} ? has-error"> -->
					<label for="emailUsuario" class="col-sm-2 control-label">Email</label> 
					<div class="col-sm-4">
						<input type="text" class="form-control" id="emailUsuario" name="emailUsuario"
							th:field="*{emailUsuario}" />
					</div>
					
				</div>

				<div class="form-group">
					<label for="unidadeSei" class="col-sm-2 control-label">Unidade</label>
					<div class="col-sm-3">
						<select class="form-control" name="unidadeSei" id="unidadeSei"
							th:field="*{lotacaoIdUsuario}">
							<option value="">----Selecione----</option>
							<option th:each="sei : ${listaUnidadeSei}"
								th:value="${sei.idUnidade}" th:valuetype="unidadeSei"
								th:utext="${sei.sigla+' - '+sei.descricao}"></option>
						</select>
					</div>
				</div>


				<div class="form-group">
					<label for="limiteAtesto" class="col-sm-2 control-label">DAS/FCPE</label>
					<div class="col-sm-3">
						<select class="form-control" name="limiteDasAtesto" th:field="*{limiteAtesto}">
							<option value="">----Selecione----</option>
							<option th:each="limite : ${limiteAtesto}"
								th:value="${limite.idLimiteAtesto}" th:valuetype="limiteAtesto"
								th:text="${limite.dasAtesto}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
</html>