<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST"
		th:action="@{/dispositivos}" th:object="${dispositivo}">

		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>

		<div class=" col-md-12  panel sem_sombra padding20 bg">
			<div class=" col-md-12 sem_sombra padding-0">


				<div class="col-md-6 padding-0 sem_sombra intro">
					<h3 class="text-left">Cadastrar Dispositivo</h3>
				</div>

				<div class="clearfix">

					<a class="btn btn-link dt-link-panel direita texto_td"
						th:href="@{/consultas/dispositivos}"> <span class="fa fa-angle-double-left"
						style="margin-right: 5px;"></span>Voltar</a>
				</div>




				<div class="col-md-12 panel padding-0">
					<div class="panel-body bg-panel padding-7 tabela">


						<input type="hidden" th:field="*{idDispositivo}" />
						<div class="form-group"
							th:classappend="${#fields.hasErrors('marcaDispositivo')} ? has-error">
							<label for="marca" class="col-sm-2 control-label">Marca</label>
							<div class="col-sm-4">
								<input list="marcas" class="form-control" id="marca"
									th:field="*{marcaDispositivo}" />
								<datalist id="marcas">
									<option th:each="dispositivo : ${dispositivos}"
										th:value="${dispositivo.marcaDispositivo}"
										th:text="${dispositivo.getMarcaDispositivo()}"></option>
								</datalist>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('modeloDispositivo')} ? has-error">
							<label for="modelo" class="col-sm-2 control-label">Modelo</label>
							<div class="col-sm-4">
								<input list="modelos" class="form-control" id="modelo"
									th:field="*{modeloDispositivo}" />
								<datalist id="modelos">
									<option th:each="dispositivo : ${dispositivos}"
										th:value="${dispositivo.modeloDispositivo}"
										th:text="${dispositivo.getModeloDispositivo()}"></option>
								</datalist>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('numeroSerieDispositivo')} ? has-error">
							<label for="nrserie" class="col-sm-2 control-label">Número
								de Série</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="nrserie"
									th:field="*{numeroSerieDispositivo}" />
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('imeiDispositivo')} ? has-error">
							<label for="imei" class="col-sm-2 control-label">Número
								de IMEI</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="imei"
									th:field="*{imeiDispositivo}" />
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('macDispositivo')} ? has-error">
							<label for="imei" class="col-sm-2 control-label">Número
								MAC (Endereço MAC)</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="imei"
									th:field="*{macDispositivo}" />
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('patrimonioDispositivo')} ? has-error">
							<label for="patrimonio" class="col-sm-2 control-label">Número
								de Patrimonio</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="patrimonio"
									th:field="*{patrimonioDispositivo}" />
							</div>
						</div>

						<div class="form-group">
							<label for="status" class="col-sm-2 control-label">Tipo</label>
							<div class="col-sm-2">
								<select class="form-control" th:field="*{tipoDispositivo}">
									<option value="">----Selecione----</option>
									<option th:each="tipo : ${tipoDispositivoMap.entrySet()}"
										th:value="${tipo.key}" th:text="${tipo.value}" />
								</select>
							</div>
						</div>

						<div class="form-group"
							th:classappend="${#fields.hasErrors('valorDispositivo')} ? has-error">
							<label for="valor" class="col-sm-2 control-label">Valor do Bem</label>
							<div class="col-sm-2">
								<input type="text" class="form-control js-valorCss" id="valor"
									th:field="*{valorDispositivo}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary texto_td">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</form>
</section>
</html>