<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Cadastro de Pessoas</title>
</head>

<section layout:fragment="conteudo">
	<div>
	<form class="form-horizontal" method="POST"
		th:action="@{/chips}" th:object="${chip}">

		<div layout:include="MensagemSucesso"></div>
		<div layout:include="MensagemErro"></div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Cadastro de
						Chip's</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/inicio}">Voltar
						para Lista</a>
				</div>
			</div>

			<div class="painel-body">
				<!-- <input type="hidden" th:field="*{id}" /> -->
				<div class="form-group"	th:classappend="${#fields.hasErrors('numeroSerieChip')} ? has-error">
				
					<label for="numeroSerieChip" class="col-sm-2 control-label">Numero de Serie</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="numeroSerieChip"
							th:field="*{numeroSerieChip}" />
					</div>
				</div>

				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Tipo de
						SimCard</label>
					<div class="col-sm-2">
						<input list="tipos" name="tipos" class="form-control" th:field="*{tipoChip}"/>
						<datalist id="tipos">
							<option th:each="tipo : ${todosCadastroChipTipo}"
								th:value="${tipoChip}" th:text="${tipo.descricao}"/>
						</datalist>
					</div>
				</div>
			
				<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">Salvar</button>
							</div>
						</div>

					</div>
				</div></form>
				</div>
</section>
</html>