<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" th:action="@{/fatura}">

		<div class=" col-md-12  panel sem_sombra padding20 bg">
			<div class=" col-md-12 sem_sombra padding-0">


				<div class="col-md-6 padding-0 sem_sombra intro">
					<h3 class="text-left">Gerar Fatura</h3>
				</div>
				<div class="clearfix">

					<a class="btn btn-link dt-link-panel direita texto_td"
						th:href="@{/inicio}"> <span class="fa fa-angle-double-left"
						style="margin-right: 5px;"></span> <span>Voltar</span>
					</a>
				</div>
				<div class="col-md-12 panel padding-0">
					<div class="painel-body bg-panel padding-7 tabela">
						<div class="form-group">
							<label id="fatura" for="status" class="col-sm-2 control-label">Fatura</label>
							<div class="col-sm-6">

								<th:block th:each="fatura : ${faturasNaoGeradas}">
									<input type="checkbox" name="fatura"
										th:value="${fatura.idFatura}" />
									<label
										th:text="${fatura.numFatura} +  ' - ' + ${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)} + ' - '+ ${fatura.cliente.operadora.nome}"></label>
								</th:block>
							</div>

						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary texto_td">Executar</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>


	<div class="col-md-12 panel padding-0">

		<div class="painel-body bg-panel padding-7 tabela">
			<div class="col-md-12 tabs-area">
				<ul id="tabs-demo4" class="nav nav-tabs nav-tabs-v3 panel-body row"
					role="tablist">
					<li role="presentation" class="active text-center tab-docs"><a
						href="#tabs-demo4-area1" id="tabs-demo4-1" role="tab"
						data-toggle="tab" aria-expanded="true">GERADAS</a></li>
					<li role="presentation" class="text-center tab-docs"><a
						href="#tabs-demo4-area2" role="tab" id="tabs-demo4-2"
						data-toggle="tab" aria-expanded="false">A GERAR</a></li>
					<li role="presentation" class="text-center tab-docs"><a
						href="#tabs-demo4-area3" role="tab" id="tabs-demo4-3"
						data-toggle="tab" aria-expanded="false">TODAS</a></li>
					<li style="float: right;"></li>

				</ul>
				<div id="tabsDemo4Content" class="tab-content tab-content-v3">
					<div role="tabpanel" class="tab-pane fade active in"
						id="tabs-demo4-area1" aria-labelledby="tabs-demo4-area1">

						<div class="table-responsive" style="margin-top: 10px;">
							<table class="table table-bordered table-striped tabela">
								<thead>
									<tr>
										<th class="text-center col-md1">MÊS REFERÉNCIA</th>
										<th class="text-center col-md1">NÚMERO DA FATURA</th>
										<th class="text-center col-md1">OPERADORA</th>
										<th class="text-center col-md1">UF</th>
										<th class="text-center col-md1">CNPJ</th>
										<th class="text-center col-md1">NUMERO DA CONTA</th>
										<th class="text-center col-md1">DATA VENCIMENTO</th>
										<th class="text-center col-md1">VALOR (R$)</th>
										<th class="text-center col-md1">VALOR NF (R$)</th>
										<th class="text-center col-md1">CONSULTAR</th>
									</tr>
								</thead>

								<tbody id="linha-info">

									<tr th:each="fatura : ${faturasGeradas}">
										<td
											th:text="${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)}"></td>
										<td th:text="${fatura.numFatura}"></td>
										<td th:text="${fatura.cliente.operadora.nome}"></td>
										<td th:text="${fatura.cliente.operadora.uf}"></td>
										<td th:text="${fatura.cliente.operadora.cnpj}"></td>
										<td th:text="${fatura.indConta}"></td>
										<td th:text="${#dates.format(fatura.dataVenc,'dd/MM/yyyy')}"></td>
										<td th:text="${fatura.traillers[0].valTotal}"></td>

										<td th:if="${!#lists.isEmpty(fatura.notafiscals)}"
											th:text="${fatura.notafiscals[0].valorNfimp}"></td>
										<td class="center"><a
											th:href="@{/fatura}+ '/' + ${fatura.idFatura}"
											class="icone_tabela" title="Consultar" rel="tooltip"
											data-placement="left" role="button"> <span
												class="fa fa-file-text-o text-success"></span>
										</a></td>

									</tr>
									<tr>
										<td colspan="12" th:if="${#lists.isEmpty(faturasGeradas)}">Nenhuma
											Fatura Gerada e Enviada!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area2"
						aria-labelledby="tabs-demo4-area2">

						<div class="table-responsive" style="margin-top: 10px;">
							<table class="table table-bordered table-striped tabela">
								<thead>
									<tr>
										<th class="text-center col-md1">MÊS REFERÉNCIA</th>
										<th class="text-center col-md1">NÚMERO DA FATURA</th>
										<th class="text-center col-md1">OPERADORA</th>
										<th class="text-center col-md1">UF</th>
										<th class="text-center col-md1">CNPJ</th>
										<th class="text-center col-md1">NUMERO DA CONTA</th>
										<th class="text-center col-md1">DATA VENCIMENTO</th>
										<th class="text-center col-md1">VALOR (R$)</th>
										<th class="text-center col-md1">VALOR NF (R$)</th>
										<th class="text-center col-md1">CONSULTAR</th>
									</tr>
								</thead>

								<tbody id="linha-info">

									<tr th:each="fatura : ${faturasNaoGeradas}">
										<td
											th:text="${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)}"></td>
										<td th:text="${fatura.numFatura}"></td>
										<td th:text="${fatura.cliente.operadora.nome}"></td>
										<td th:text="${fatura.cliente.operadora.uf}"></td>
										<td th:text="${fatura.cliente.operadora.cnpj}"></td>
										<td th:text="${fatura.indConta}"></td>
										<td th:text="${#dates.format(fatura.dataVenc,'dd/MM/yyyy')}"></td>
										<td th:text="${fatura.traillers[0].valTotal}"></td>

										<td th:if="${!#lists.isEmpty(fatura.notafiscals)}"
											th:text="${fatura.notafiscals[0].valorNfimp}"></td>
										<td class="center"><a
											th:href="@{/fatura}+ '/' + ${fatura.idFatura}"
											class="icone_tabela" title="Consultar" rel="tooltip"
											data-placement="left" role="button"> <span
												class="fa fa-file-text-o text-success"></span>
										</a></td>

									</tr>
									<tr>
										<td style="text-align: center;" colspan="12"
											th:if="${#lists.isEmpty(faturasNaoGeradas)}">Nenhuma
											Fatura pendente de envio!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div role="tabpanel" class="tab-pane fade" id="tabs-demo4-area3"
						aria-labelledby="tabs-demo4-area3">

						<div class="table-responsive" style="margin-top: 10px;">
							<table class="table table-bordered table-striped tabela">
								<thead>
									<tr>
										<th class="text-center col-md1">MÊS REFERÉNCIA</th>
										<th class="text-center col-md1">NÚMERO DA FATURA</th>
										<th class="text-center col-md1">OPERADORA</th>
										<th class="text-center col-md1">UF</th>
										<th class="text-center col-md1">CNPJ</th>
										<th class="text-center col-md1">NUMERO DA CONTA</th>
										<th class="text-center col-md1">DATA VENCIMENTO</th>
										<th class="text-center col-md1">VALOR (R$)</th>
										<th class="text-center col-md1">VALOR NF (R$)</th>
										<th class="text-center col-md1">CONSULTAR</th>
									</tr>
								</thead>

								<tbody id="linha-info">

									<tr th:each="fatura : ${faturas}">
										<td
											th:text="${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)}"></td>
										<td th:text="${fatura.numFatura}"></td>
										<td th:text="${fatura.cliente.operadora.nome}"></td>
										<td th:text="${fatura.cliente.operadora.uf}"></td>
										<td th:text="${fatura.cliente.operadora.cnpj}"></td>
										<td th:text="${fatura.indConta}"></td>
										<td th:text="${#dates.format(fatura.dataVenc,'dd/MM/yyyy')}"></td>
										<td th:text="${fatura.traillers[0].valTotal}"></td>

										<td th:if="${!#lists.isEmpty(fatura.notafiscals)}"
											th:text="${fatura.notafiscals[0].valorNfimp}"></td>
										<td class="center"><a
											th:href="@{/fatura}+ '/' + ${fatura.idFatura}"
											class="icone_tabela" title="Consultar" rel="tooltip"
											data-placement="left" role="button"> <span
												class="fa fa-file-text-o text-success"></span>
										</a></td>

									</tr>
									<tr>
										<td style="text-align: center;" colspan="12"
											th:if="${#lists.isEmpty(faturas)}">Nenhuma
											Fatura carregada no sistema!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>



	

</section>
</html>