<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST" th:action="@{/fatura}">

		<div class=" col-md-12  panel sem_sombra padding20 bg">
			<div class=" col-md-12 sem_sombra padding-0">


				<div class="col-md-6 padding-0 sem_sombra intro">
					<h3 class="text-left">Gerar Fatura</h3>
				</div>


				<div class="clearfix">

					<a class="btn btn-link dt-link-panel direita texto_td"
						th:href="@{/inicio}"> <span class="fa fa-angle-double-left"
						style="margin-right: 5px;"></span> <span>Voltar</span>
					</a>
				</div>

				<div class="col-md-12 panel padding-0">
					<div class="painel-body bg-panel padding-7 tabela">
						<div class="form-group">
							<label id="fatura" for="status" class="col-sm-2 control-label">Fatura</label>
							<div class="col-sm-6">

								<th:block th:each="fatura : ${faturasNaoGeradas}">
									<input type="checkbox" name="fatura"
										th:value="${fatura.idFatura}" />
									<label
										th:text="${fatura.numFatura} +  ' - ' + ${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)} + ' - '+ ${fatura.cliente.operadora.nome}"></label>
								</th:block>
							</div>

						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary texto_td">Executar</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<td>Mes Ref</td>
							<td>Número Fatura</td>
							<td>Operadora</td>
							<td>UF</td>
							<td>CNPJ</td>
							<td>Num Conta</td>
							<td>Data Venc</td>
							<td>Valor Com imposto</td>
							<td>Ações</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fatura : ${faturasGeradas}">
							<td
								th:text="${#strings.substring(fatura.mesRef,4,6)} +'/'+ ${#strings.substring(fatura.mesRef,0,4)}"></td>
							<td th:text="${fatura.numFatura}"></td>
							<td th:text="${fatura.cliente.operadora.nome}"></td>
							<td th:text="${fatura.cliente.operadora.uf}"></td>
							<td th:text="${fatura.cliente.operadora.cnpj}"></td>
							<td th:text="${fatura.indConta}"></td>
							<td th:text="${fatura.dataVenc}"></td>
							<td th:text="${fatura.traillers[0].valTotal}"></td>
						 	<td th:if="${!#lists.isEmpty(fatura.notafiscals)}" th:text="${fatura.notafiscals[0].valorNfimp}"></td> 
							<!-- <td><a class="btn btn-primary"
								th:href="@{/fatura/resumo} + '/' + ${fatura.fatura.idFatura}+ '/' + ${fatura.alocacao.idAlocacao}"
								role="button">Resumo</a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</section>
</html>