<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout">

<head>
<meta name="description" content="Sistel" />
<meta name="keyword" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=10" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />
<meta name="language" content="pt-br" />


<title>Sistel</title>

<link rel="stylesheet" type="text/css"
	href="../miminium/css/bootstrap.min.css"
	th:href="@{../miminium/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../miminium/css/plugins/font-awesome.min.css"
	th:href="@{../miminium/css/plugins/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../miminium/css/plugins/simple-line-icons.css"
	th:href="@{../miminium/css/plugins/simple-line-icons.css}" />
<link rel="stylesheet" type="text/css"
	href="../miminium/css/plugins/animate.min.css"
	th:href="@{../miminium/css/plugins/animate.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../miminium/fonts/opensans_regular_macroman/stylesheet.css"
	th:href="@{../miminium/fonts/opensans_regular_macroman/stylesheet.css}" />
<link rel="stylesheet" type="text/css"
	href="../css/bootstrap-datetimepicker.min.css"
	th:href="@{../css/bootstrap-datetimepicker.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../css/input-file.css"
	th:href="@{../css/input-file.css}" />
	
	
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../miminium/css/style.css"
	th:href="@{../miminium/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../miminium/css/custom.css"
	th:href="@{../miminium/css/custom.css}" />


<link rel="icon" type="image/png" href="icon/favicon_um.png"
	th:href="@{icon/favicon_um.png}" />

</head>

<body id="home" class="dashboard">

	<header class="post" layout:include="Cabecalho">
		<p>Topo Pagina</p>
	</header>


	<div class="container-fluid mimin-wrapper">

		<div id="left-menu" layout:include="Menu"></div>

		<div id="content">
			<div layout:fragment="conteudo"></div>

		</div>

		<div id="right-menu" layout:include="Notificacoes"></div>


	</div>
	<div id="botao_mob" layout:include="MenuMobile"></div>

	<script src="../miminium/js/jquery.min.js"
		th:src="@{../miminium/js/jquery.min.js}"></script>
	<script src="../miminium/js/jquery.ui.min.js"
		th:src="@{../miminium/js/jquery.ui.min.js}"></script>
	<script src="../miminium/js/bootstrap.min.js"
		th:src="@{../miminium/js/bootstrap.min.js}"></script>

	<!-- plugins -->
	<script th:src="@{../miminium/js/plugins/jquery.mask.min.js}"
		src="../miminium/js/plugins/jquery.mask.min.js"></script>
	<script src="../miminium/js/plugins/moment.min.js"
		th:src="@{../miminium/js/plugins/moment.min.js}"></script>
	<script src="../miminium/js/plugins/jquery.nicescroll.js"
		th:src="@{../miminium/js/plugins/jquery.nicescroll.js}"></script>
	<script src="../miminium/js/plugins/chart.min.js"
		th:src="@{../miminium/js/plugins/chart.min.js}"></script>
	<script src="../miminium/js/main.js" th:src="@{../miminium/js/main.js}"></script>

</body>

<!--  ,  -->


<script src="../js/bootstrap-datetimepicker.js"
	th:src="@{../js/bootstrap-datetimepicker.js}"></script>

<script src="../static/js/calendario.js" th:src="@{../js/calendario.js}"></script>
<script src="../static/js/email.js" th:src="@{../js/email.js}"></script>
<script src="../static/js/exclusao.js" th:src="@{../js/exclusao.js}"></script>
<script src="../static/js/guideTips.js" th:src="@{../js/guideTips.js}"></script>
<script src="../static/js/jquery.maskMoney.min.js"
	th:src="@{../js/jquery.maskMoney.min.js}"></script>






<!-- custom -->

</html>
