<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
</head>

<section layout:fragment="conteudo">
	<h3>Login with Username and Password</h3>
	<form>
		<table>
			<tr>
				<td>User:</td>
				<td><input type='text' name='username' value=''/></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password'/></td>
			</tr>
			<tr>
				<td colspan='2'><input class="btn btn-primary col-sm-offset-6" name="submit" type="submit"
					value="Login" /></td>
			</tr>
		</table>
	</form>

</section>
</html>