<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<div id="botao_mob">
	<div id="mimin-mobile" class="reverse">
		<div class="mimin-mobile-menu-list">
			<div class="col-md-12 sub-mimin-mobile-menu-list animated"
				id="largura_menu_mobile">

				<ul class="nav nav-list">

					<li class="ripple bg_inicio"><a
						onClick="location.href='/inicio'"
						class="tree-toggle nav-header texto"><span class="fa-home fa"></span>
							Início </a></li>

					<li class="ripple"><a class="tree-toggle nav-header texto"><span
							class="fa fa-search"></span> Consultas <span
							class="fa-angle-right fa right-arrow text-right"></span> </a>
						<ul class="nav nav-list tree">
							<li><a onClick="location.href='/consultas/dispositivos'">Dispositivos</a></li>
							<li><a onClick="location.href='/consultas/usuarios'">Pessoas</a></li>
							<li><a onClick="location.href='/consultas/chips'">Chips</a></li>
							<li><a onClick="location.href='/consultas/linhas'">Linhas</a></li>
							<li><a onClick="location.href='/consultas/categorias'">Categorias</a></li>
							<li><a onClick="location.href='/consultas/limites-atesto'">Limites
									Atesto</a></li>
							<li><a onClick="location.href='/consultas/contratos'">Contratos</a></li>
						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto">
							<span class="fa fa-exclamation-triangle"></span> Pendências <span
							class="fa-angle-right fa right-arrow text-right"></span>
					</a>
						<ul class="nav nav-list tree">
							<li><a href="#" onClick="location.href='/pendencia'">Alocação</a></li>
							<li ><a href="#" 
								>Notificação</a></li>
						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto">
							<span class="fa fa-book"></span>Alocações <span
							class="fa-angle-right fa right-arrow text-right"></span>
					</a>
						<ul class="nav nav-list tree">
							<li ><a href="#" 
								>Consultar Documentos</a></li>
							<li><a onClick="location.href='/alocacoes/disponibilizar'">Disponibilizar</a></li>
							<li><a onClick="location.href='/alocacoes/devolver'">Devolver</a></li>
							<li ><a href="#" 
								>Substituir</a></li>

						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto"><span
							class="icons icon-globe"></span> Roaming <span
							class="fa-angle-right fa right-arrow text-right"></span> </a>
						<ul class="nav nav-list tree">
							<li ><a href="#" 
								>Listar</a></li>
							<li ><a href="#" 
								>Consultar</a></li>
						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto">
							<img class="icone_menu" src="../miminium/img/invoice.svg" />Faturas<span
							class="fa-angle-right fa right-arrow text-right"></span>
					</a>
						<ul class="nav nav-list tree">
							<li ><a href="#" 
								>Listar</a></li>
							<li><a onClick="location.href='/fatura'">Gerar</a></li>
							<li><a href="#" onClick="location.href='/faturas/nova'">Carregar</a></li>

						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto"><span
							class="fa fa-bar-chart" onClick="location.href='relatorio'"></span>Relatórios
							<span class="fa-angle-right fa right-arrow text-right"> </span></a>
						<ul class="nav nav-list tree">
							<li ><a href="#" 
								>Listar</a></li>
							<li ><a href="#" 
								>Gerar</a></li>
							<li ><a href="#" 
								>Resumos</a></li>

						</ul></li>

					<li class="ripple"><a class="tree-toggle nav-header texto"><span
							class="fa fa-chain"></span> Links <span
							class="fa-angle-right fa right-arrow text-right"></span> </a>
						<ul class="nav nav-list tree">
							<li ><a href="#" 
								>Link1</a></li>
							<li ><a href="#" 
								>Link2</a></li>
							<li ><a href="#" 
								>Link3</a></li>

						</ul></li>

				</ul>
			</div>
		</div>
	</div>
	<button id="mimin-mobile-menu-opener"
		class="animated rubberBand btn btn-circle btn-danger">
		<span class="fa fa-bars" id="btn_mobile"></span>
	</button>
</div>
</html>
