<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">



<section id="menu" layout:fragment="Menu">
	<aside class="btn-group-vertical" role="group">
		<a class="glyphicon glyphicon-search btn btn btn-default" aria-hidden="true" th:href="@{/consulta}" style="text-align:left;">&nbsp;Consultar
		</a>


		<div class="btn-group" role="group" style="text-align:left;">
			<a type="button" class="glyphicon glyphicon-list-alt btn btn-default dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align: left;">&nbsp;Alocação
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a class="btn btn-link dt-link-menu" th:href="@{/alocacoes/disponibilizar}" >Disponibilizar</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Devolução</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Substituição</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Roaming</a></li>
			</ul>

		</div>
		<button type="button" class="glyphicon glyphicon-list btn btn-default" style="text-align:left;">&nbsp;Pedências
		</button>
		<div class="btn-group" role="group" style="text-align:center;">
		
			<button type="button" class="glyphicon glyphicon-book btn btn-default dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:left;">&nbsp;Registrar <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="btn btn-link dt-link-menu" th:href="@{/dispositivos/novo}">Dispositivos</a></li>
				<li><a class="btn btn-link dt-link-menu" th:href="@{/pessoas/nova}">Pessoas</a></li>
				<li><a class="btn btn-link dt-link-menu" th:href="@{/chips/novo}">Chip's</a></li>
				<li><a class="btn btn-link dt-link-menu" th:href="@{/linhas/nova}">Linhas</a></li>
				<li><a class="btn btn-link dt-link-menu" th:href="@{/faturas/nova}">Faturas</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Link's</a></li>
			</ul>

		</div>
		
		<button type="button" class="glyphicon glyphicon-signal btn btn-default" style="text-align:left;">&nbsp;Relatórios
		</button>
		<button type="button" class="glyphicon glyphicon-user btn btn-default" style="text-align:left;">&nbsp;Usuário
		</button>
		<button type="button" class="glyphicon glyphicon-warning-sign btn btn-default" style="text-align:left;">&nbsp;Alertas
		</button>
		<button type="button" class="glyphicon glyphicon-info-sign btn btn-default" style="text-align:left;" >&nbsp;Manuais
		</button>
	</aside>




</section>
</html>