<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section id="Menu" layout:fragment="Menu">

	<div>
	<a id="identificacaoUsuarioMenu" th:text="${#authentication.name}"></a>
		<ul class="dropdown">
			<li><a class="glyphicon glyphicon-search" th:href="@{/consulta}"><b style="font-family: Arial">&nbsp;Consultar</b></a></li>

			<li class="dropdown-toggle" data-toggle="dropdown"><a
				class="glyphicon glyphicon-list-alt"><b style="font-family: Arial">&nbsp;Alocação&nbsp;</b><span
					class="caret"></span></a></li>

			<ul class="dropdown-menu" id="dropdown-menupage">
				<li><a class="btn btn-link dt-link-menu"
					th:href="@{/alocacoes/disponibilizar}" >Disponibilizar</a></li>
				<li><a class="btn btn-link dt-link-menu" th:href="@{/alocacoes/devolver}">Devolução</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Substituição</a></li>
				<li><a class="btn btn-link dt-link-menu" href="#">Roaming</a></li>
			</ul>
		</ul>

	</div>

	<div>

		<ul>
			<li><a class="glyphicon glyphicon-list" th:href="@{/pendencia}"><b style="font-family: Arial">&nbsp;Pedências</b></a></li>


			<ul class="dropdown">

				<li class="dropdown-toggle" data-toggle="dropdown"><a
					class="glyphicon glyphicon-list-alt"><b style="font-family: Arial">&nbsp;Registrar&nbsp;</b><span
						class="caret"></span></a></li>

				<ul class="dropdown-menu" id="dropdown-menupage">
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/dispositivos/novo}">Dispositivos</a></li>
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/usuarios/novo}">Pessoas</a></li>
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/chips/novo}">Chip's</a></li>
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/linhas/nova}">Linhas</a></li>
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/faturas/nova}">Faturas</a></li>
					<li><a class="btn btn-link dt-link-menu" href="#">Link's</a></li>
				</ul>
			</ul>
		</ul>
	</div>

	<div>
		<ul>
			<li><a class="glyphicon glyphicon-signal" th:href="@{/relatorio}"><b style="font-family: Arial">&nbsp;Relatórios&nbsp;</b></a></li>

			<ul class="dropdown">

				<li class="dropdown-toggle" data-toggle="dropdown"><a
					class="glyphicon glyphicon-user"><b style="font-family: Arial">&nbsp;Usuários&nbsp;</b><span
						class="caret"></span></a></li>

				<ul class="dropdown-menu" id="dropdown-menupage">
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/menu-usuario/agenda}">Agenda</a></li>
					<li><a class="btn btn-link dt-link-menu"
						th:href="@{/menu-usuario/dispositivo}">Dispositivos</a></li>
				</ul>
			</ul>
		</ul>
	</div>

	<div>
		<ul>
			<li><a class="glyphicon glyphicon-warning-sign" href="#"><b style="font-family: Arial">&nbsp;Alertas</b></a></li>
			<li><a class="glyphicon glyphicon-info-sign" href="#"><b style="font-family: Arial">&nbsp;Manuais</b></a></li>

		</ul>
	</div>
	
	<div>
		<ul>
			<li><a class="glyphicon glyphicon-off" href="javascript: document.logoutForm.submit()"><b style="font-family: Arial">&nbsp;Sair</b></a></li>
		</ul>
	</div>
	
	<form name="logoutForm" th:action="@{/logout}" method="POST">
	<!-- <button class="btn btn-info glyphicon glyphico@{/logout}n-off" type="submit"> SAIR</button> -->
	</form>
	
	

</section>
</html>

