<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout">
	
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTabs">
                <li class="active"><a href="#home" data-toggle="tab">Home</a>
                </li>
                <li><a href="#mps" data-toggle="tab">Google Maps</a>
                </li>
                <li><a href="#ytb" data-toggle="tab">YouTube</a>
                </li>
                <li><a href="#rn" data-toggle="tab">Antwon</a>
                </li>
            </ul>
         <!-- <div class="tab-content">

                <div class="tab-pane active" id="home">
                    <p>Test Tab</p>
                    <p>Boot Tabs on click event</p>
                </div>

                <div class="tab-pane" id="mps" data-src="https://maps.google.de/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=moskow&amp;aq=&amp;sll=49.60804,10.807114&amp;sspn=0.40491,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Moskau,+gorod+Moskva,+Russland&amp;ll=55.755826,37.6173&amp;spn=0.175821,0.528374&amp;t=m&amp;z=12&amp;output=embed"><br><small><a href="https://maps.google.de/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=moskow&amp;aq=&amp;sll=49.60804,10.807114&amp;sspn=0.40491,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Moskau,+gorod+Moskva,+Russland&amp;ll=55.755826,37.6173&amp;spn=0.175821,0.528374&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>"&gt;
                    <iframe src="" width="425" height="350" ></iframe>
                </div>

                <div class="tab-pane" id="ytb" data-src="http://www.youtube.com/embed/dQBzT3XBwzU">
                    <iframe src="" width="560" height="315" ></iframe>
                </div>


                <div class="tab-pane" id="rn" data-src="http://player.vimeo.com/video/37138051?badge=0">
                    <iframe src="" width="500" height="203" ></iframe>
                </div>
            </div> -->
        </div>
    </div>
</div>
</html>