<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Consulta</title>
</head>
<section layout:fragment="conteudo">

	<div layout:include="MensagemSucesso"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title dt-dispositivo-panel">Pendências</h1>
			</div>
		</div>
		
		
		<div class="panel-body">			
		
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md1">Id</th>
							<th>Nome</th>
							<th class="text-center col-md3">Dispositivo</th>
							<th class="text-center col-md2">Linha</th>
							<th class="text-center col-md1">Tipo</th>
							<th class="col-md2"></th>
						</tr>
					</thead>

					<tbody th:if="${linhas.alocacaoUsuarioLinhas.dtDevolucao==null}">

						<tr th:each="linha : ${linhas}" >
							<td class="text-center" th:text="${linha.idAlocacaoLinhaDispositivo}"></td>
							<td th:text="${linha.numeroLinha}"></td>
							<!-- <td class="text-center"><a class="btn btn-link btn-xs"
								th:href="@{/usuarios/{id}(id=${usuario.idUsuario})}" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="glyphicon glyphicon-pencil"></span>
							</a> <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModal"
								th:attr="data-flag='2',data-excludId=${usuario.idUsuario}, data-exclude=${usuario.nomeUsuario}"
								title="Remover" rel="tooltip" data-placement="left"> <span
									class="glyphicon glyphicon-remove"></span>
							</a></td> -->

						</tr>
						<tr>
							<td colspan="10" th:if="${#lists.isEmpty(linhas)}">Nenhuma
								Pessoa encontrada!!!</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>