<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Pendências</title>
</head>
<section layout:fragment="conteudo">

	<div layout:include="MensagemSucesso"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title dt-dispositivo-panel">Pendências</h1>
			</div>
		</div>


		<div class="panel-body">

			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md1">Linha</th>
							<th class="text-center col-md1">Detentor</th>
							<th class="text-center col-md1">Dispositivo</th>
							<th class="text-center col-md2">Modelo</th>
							<th class="text-center col-md2">Plano</th>
							<th class="text-center col-md2">Data Recebimento</th>
							<th class="text-center col-md1">Data Devolução</th>

						</tr>
					</thead>

					<tbody>

						<tr th:each="dto : ${pendencia}">
							<td class="text-center" th:text="${dto.linha.numeroLinha}"></td>
							<td class="text-center" th:text="${dto.usuario.nomeUsuario}"></td>
							<td class="text-center"	th:text="${dto.dispositivo.marcaDispositivo}"></td>
							<td class="text-center"	th:text="${dto.dispositivo.modeloDispositivo}"></td>
							<td class="text-center" th:text="${dto.categoria.descricaoCategoria}"></td>
							<td class="text-center" th:text="${dto.dtRecebido}"></td>
							<td class="text-center" th:if="${dto.dtDevolucao == null}">Não devolvido</td>
							<td class="text-center" th:if="${dto.dtDevolucao != null}" th:text="${dto.dtDevolucao}"></td>
							<td class="text-center">
								
 						<a 
								class="btn btn-link btn-xs" 
								data-toggle="modal"
								data-target="#confirmacaoEmailModal"
								th:attr="data-emailid=${dto.idAlocacaoUsuarioLinha}, data-processo=${dto.numeroProcessoSei}"
								title="Autorização" 
								rel="tooltip" 
								data-placement="left">
								<span class="glyphicon glyphicon-envelope"></span>
								
							</a>	 
							</td>
							
						</tr>
						<tr>
							<td colspan="10" th:if="${#lists.isEmpty(pendencia)}">
								Nenhuma Pendência encontrada!!!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
		<div layout:include="ConfirmarEnvioEmail"></div>
	</div>
</section>
</html>