
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:td="http://www.tdymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/tdymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Dispositivos</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" method="POST"
		td:action="@{/menu-usuario}">

		<div class="col-md-12  panel sem_sombra padding20 bg">

			<div class="clearfix">
				<h3 class="text-left esquerda">Dispositivos</h3>
				<a class="btn btn-link dt-link-panel direita texto_td"
					td:href="@{/inicio}">Voltar para Lista</a>
			</div>


			<div class="painel-body">

				<div id="botaodisp" class="form-group" style="widtd: 100%">
					<div id="botaodisp" class="col-sm-offset-2 col-sm-10 c"
						style="widtd: 100%">
						<button id="botaodisp" type="submit" class="btn btn-primary"
							style="float: left">Solicitar Dispositivo</button>

						<button id="botaodisp" type="submit" class="btn btn-primary"
							style="float: right">Devolver Dispositivo</button>
					</div>
				</div>
			</div>

			<div class="painel-body bg-panel padding-7">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td class=" col-sm1 bold">Id</td>
								<td class=" col-sm1 bold">Marca</td>
								<td class=" col-sm1 bold">Modelo</td>
								<td class=" col-sm1 bold">Numero de Série</td>
								<td class=" col-sm1 bold">IMEI</td>
								<td class=" col-sm1 bold">Patrimonio</td>
								<td class=" col-sm1 bold">Tipo</td>
								<td class=" col-sm1 bold">Valor</td>
								<td class=" col-sm1 bold"></td>

							</tr>
						</thead>



						<tr>
							<td>1</td>
							<td>Apple</td>
							<td>5s</td>
							<td>123456789</td>
							<td>987654321</td>
							<td>comodato</td>
							<td>Celular</td>
							<td>R$ 2.000,00</td>

							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>



						<tr>
							<td>2</td>
							<td>Samsung</td>
							<td>S5</td>
							<td>1238922224</td>
							<td>12498765</td>
							<td>comodato</td>
							<td>Celular</td>
							<td>R$ 11.111,11</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

					</table>
				</div>
			</div>

			<div class="painel-body bg-panel padding-7">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td class=" col-sm1 largura_td2 bold">Id</td>
								<td class=" col-sm2 largura_td2 bold">Nome</td>
								<td class=" col-sm1 largura_td2 bold">CPF</td>
								<td class=" col-sm1 largura_td2 bold">Setor</td>
								<td class=" col-sm1 largura_td2 bold">Cargo</td>
								<td class=" col-sm1 largura_td_menor bold">DAS/FCPE</td>
								<td class=" col-sm1 largura_td2 bold">Email</td>
								<td>Configurações</td>


							</tr>
						</thead>



						<tr>
							<td>1</td>
							<td>Paulo Henrique de Carvalho Moreira</td>
							<td>99999999999</td>
							<td>CGOVE</td>
							<td>Coordenador</td>
							<td>3</td>
							<td>paulo.moreira@cultura.gov.br</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td>2</td>
							<td>Paulo Henrique de Carvalho Moreira</td>
							<td>99999999999</td>
							<td>CGOVE</td>
							<td>Coordenador</td>
							<td>3</td>
							<td>paulo.moreira@cultura.gov.br</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td>3</td>
							<td>Paulo Henrique de Carvalho Moreira</td>
							<td>99999999999</td>
							<td>CGOVE</td>
							<td>Coordenador</td>
							<td>3</td>
							<td>paulo.moreira@cultura.gov.br</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td>3</td>
							<td>Paulo Henrique de Carvalho Moreira</td>
							<td>99999999999</td>
							<td>CGOVE</td>
							<td>Coordenador</td>
							<td>3</td>
							<td>paulo.moreira@cultura.gov.br</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

					</table>
				</div>
			</div>

			<div class="painel-body bg-panel padding-7">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<td class=" col-sm1 largura_td2 text-center bold">Id</td>
								<td class=" col-sm2 largura_td2 text-center bold">Número de
									Série do Chip</td>
								<td class=" col-sm1 largura_td2 text-center bold">Tipo</td>
								<td></td>


							</tr>
						</thead>



						<tr>
							<td class="text-center">1</td>
							<td class="text-center">020202020202</td>
							<td class="text-center">FlexSimCard</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td class="text-center">2</td>
							<td class="text-center">MicroSimCard</td>
							<td class="text-center">0303030303</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td class="text-center">3</td>
							<td class="text-center">0404040404</td>
							<td class="text-center">MicroSimCard</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

						<tr>
							<td class="text-center">4</td>
							<td class="text-center">0505050505</td>
							<td class="text-center">MicroSimCard</td>
							<td class="center"><a class="icone_tabela" title="Editar"
								rel="tooltip" data-placement="left"> <span
									class="fa fa-pencil"></span></a> <a class="icone_tabela red"
								title="Excluir" rel="tooltip" data-placement="left"> <span
									class="fa fa-close"></span></a></td>
						</tr>

					</table>
				</div>
			</div>
		</div>

	</form>
</section>
</html>