<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Chips</title>
</head>

<section layout:fragment="conteudo">
<div layout:include="MensagemSucesso"></div>



	<div class=" col-md-12  panel sem_sombra padding20 bg">
		<div class=" col-md-12 sem_sombra padding-0">
			<div class="col-md-6 padding-0 sem_sombra intro">
				<h3 class="text-left">Chips</h3>
			</div>


			<div class="clearfix">

				<a class="btn btn-link dt-link-panel direita texto_td"
					th:href="@{/inicio}">
					<span class="fa fa-angle-double-left" style="margin-right:5px;"></span>Voltar</a>
			</div>

			<div class="col-md-12 padding-7 pesquisa">

				<div class="col-md-8 pesquisa">

					<div class="btn btn-link icone_add texto_td text-center" th:href="@{/chips/novo}"
					onClick="location.href='/chips/novo'" id="btn_novo" style="float: left">
							<span class="fa fa-plus-circle" id="add"> 
								<span class="tabela"> Novo Chip</span>
							</span>

						</div>
				</div>

				<div class="col-md-4 input-group" id="input_pesquisa">
					<input type="text" class="form-control"
						placeholder="Digite aqui sua pesquisa" /> <span
						class="input-group-btn">
						<button class="btn btn-secondary" type="button">
							<span class="fa fa-search text-center b"> </span>
						</button>
					</span>
				</div>

			</div>

			<form class="form-horizontal" method="POST" th:action="@{/chips}">

				<div class="col-md-12 panel padding-0">
					<div class="panel-body bg-panel padding-7 tabela">

						<div class="table-responsive">
							<table class="table table-bordered table-striped tabela">
								<thead>
									<tr>
										<th class="text-center col-md1">Id</th>
										<th class="text-center col-md3">Numero de Serie do Chip</th>
										<th class="text-center col-md2">Tipo</th>
										<th class="col-md2"></th>
									</tr>
								</thead>

								<tbody>

									<tr th:each="chip : ${chips}">
										<td class="text-center" th:text="${chip.idChip}"></td>
										<td th:text="${chip.numeroSerieChip}"></td>
										<td class="text-center" th:text="${chip.tipoChip}"></td>
										<td class="text-center">
											<a class="icone_tabela"	th:href="@{/chips/{id}(id=${chip.idChip})}" title="Editar"
											rel="tooltip" data-placement="left"> <span
												class="fa fa-pencil"></span>
											</a> 
											<a class="icone_tabela" data-toggle="modal"
											data-target="#confirmacaoExclusaoModal"
											th:attr="data-flag='3',data-excludId=${chip.idChip}, data-exclude=${chip.numeroSerieChip}"
											title="Remover" rel="tooltip" data-placement="left"> <span
												class="fa fa-remove text-danger"></span>
											</a>
										</td>

									</tr>
									<tr>
										<td colspan="4" th:if="${#lists.isEmpty(chips)}">Nenhum
											Chip encontrado!!!</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>




			</form>
		</div>
	</div>

<div layout:include="DialogoConfirmacaoExclusao"></div>

</section>
</html>