<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<div layout:include="DialogoConfirmacaoExclusao"></div>

	<div class=" col-md-12  panel sem_sombra padding20 bg">
		<div class=" col-md-12 sem_sombra padding-0">
			<div class="col-md-6 padding-0 sem_sombra intro">
				<h3 class="text-left">Usuários</h3>
			</div>


			<div class="clearfix">

				<a class="btn btn-link dt-link-panel direita texto_td"
					th:href="@{/inicio}"> <span
					class="fa fa-angle-double-left" style="margin-right: 5px;"></span>Voltar
				</a>
			</div>

<form class="form-horizontal" method="POST" action="/consultas/usuarios" th:object="${filtro}">

			<div class="col-md-12 padding-7 pesquisa">
				<div class="col-md-8 pesquisa"></div>

				<div class="col-md-4 input-group usu" id="input_pesquisa">
					<input class="form-control" placeholder="Digite aqui nome para pesquisa" th:field="*{nomeUsuario}" autofocus="autofocus"/>
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="submit">
							<i class="fa fa-search text-center b"> </i>
						</button>
					</span>
				</div>

			</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
</form>

<div id="infoDispositivosModalHolder"></div>

			

				<div class="col-md-12 panel padding-0">
					<div class="painel-body bg-panel padding-7 tabela">
						<div class="table-responsive">
							<table class="table table-bordered table-striped tabela">
								<thead>
									<tr>
										<th class="text-center col-md1">Id</th>
										<th>Nome</th>
										<th class="text-center col-md3">CPF</th>
										<th class="text-center col-md2">Setor</th>
										<th class="text-center col-md2">Cargo</th>
										<th class="text-center col-md2">DAS</th>
										<!--<th class="text-center col-md1">Email</th> -->
										<th class="col-md2"></th>
									</tr>
								</thead>

								<tbody id="linha-info">

									<tr th:each="usuario : ${usuarios}"
									th:onclick="'guideTips:abrirListaDispositivoModal(\''+${usuario.idUsuario}+'\');'">
										<td class="text-center" th:text="${usuario.idUsuario}"></td>
										<td th:text="${usuario.nomeUsuario}"></td>
										<td class="text-center" th:text=" ${usuario.cpfUsuario}"></td>
										<!-- <td class="text-right" th:text="  ${usuario.matricula}"></td>
							<td class="text-center" th:text=" ${usuario.vinculo}"></td> -->
										<td class="text-center" th:text=" ${usuario.lotacaoUsuario}"></td>
										<td class="text-center" th:text=" ${usuario.cargoUsuario}"></td>
										<td class="text-center"
											th:text=" ${usuario.limiteAtesto.dasAtesto}"></td>
										<!--<td class="text-center" th:text=" ${usuario.email}"></td> -->
										<td class="text-center"><a class="icone_tabela"
											th:href="@{/usuarios/{id}(id=${usuario.idUsuario})}"
											title="Editar" rel="tooltip" data-placement="left"> <span
												class="fa fa-pencil"></span>
										</a> <a class="icone_tabela" data-toggle="modal"
											data-target="#confirmacaoExclusaoModal"
											th:attr="data-flag='2',data-excludId=${usuario.idUsuario}, data-exclude=${usuario.idUsuario}"
											title="Remover" rel="tooltip" data-placement="left"> <span
												class="fa fa-remove text-danger"></span>
										</a></td>

									</tr>
									<tr>
										<td colspan="10" th:if="${#lists.isEmpty(usuarios)}">Nenhuma
											Pessoa encontrada!!!</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

		</div>
	</div>
<div layout:include="DialogoConfirmacaoExclusao"></div>
</section>
</html>
