<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js "></script>
<script th:src="@{/js/relatorios/relatorios.js}"></script>

</head>
<body>
	<div id="piechart_div" style="border:1px solid #ccc"></div>
	<div id="barchart_div" style="border:1px solid #ccc"></div>
</body>
</html>