<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

	<form class="form-horizontal">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title dt-dispositivo-panel">Relatórios
						Gráficos</h1>
					<a class="btn btn-link dt-link-panel" th:href="@{/consulta}">Voltar
						para Lista de consultas</a>
				</div>
			</div>
			<p></p>
			<div class="painel-body">
				<div class="form-group">
					<div id="piechart_div" style="border: 1px solid #ccc"></div>
					<div id="barchart_div" style="b	order: 1px solid #ccc"></div>
				</div>
			</div>			
		</div>
	</form>
</section>
</html>