<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
    
<section id="telaInicio" layout:fragment="conteudo">

    
                <!--CONTEUDO TOTAL-->
                <div class="col-md-12 sem_sombra padding20"> 
                    <div class="col-md-12 padding-0 sem_sombra">
                        <div class="col-md-6 padding-0 sem_sombra intro">
                            <h3 class="text-left">Dispositivos em estoque</h3>
                        </div>
                    <div class="col-md-6 padding-0 sem_sombra intro">
                        <h5 class="text-right data">Exibindo Janeiro de 2017 <span class="icons icon-arrow-down setinha"> </span></h5>
                        
                    </div>
                            
                        
                        
                            <!--CARDS TOPO-->
                            <div class="col-md-12 padding-0"> 
                                <!--CARD 1-->
                                <div class="col-md-3 padding-7">
                                    <div class="panel box-v1 card_topo">
                                      <div class="panel-heading cinza border-none">
                                        
                                      </div>
                                      <div class="text-center col-md-12 padding-0">
                                      
                                        <img src="../miminium/img/smartphone.svg" class="icones_card img-fluid"/>    
                                        
                                      </div>    
                                      <div class="panel-body text-right top10">
                                        <h2 class="texto_card">2</h2>  
                                        <h5 class="texto_card superior">CELULAR</h5>
                                        
                                      </div>
                                    </div>
                                </div>
                                <!--CARD 2-->
                                <div class="col-md-3 padding-7">
                                    <div class="panel box-v1 card_topo">
                                      <div class="panel-heading cinza border-none">
                                        
                                      </div>
                                      <div class="text-center col-md-12 padding-0">
                                        <img src="../miminium/img/tablet.svg" class="icones_card img-fluid"/>    
                                        
                                      </div>    
                                      <div class="panel-body text-right top10">
                                        <h2 class="texto_card ">1</h2>  
                                        <h5 class="texto_card superior">TABLET</h5>
                                        
                                      </div>
                                    </div>
                                </div>
                                    <!--CARD 3-->
                                    <div class="col-md-3 padding-7">
                                        
                                        <div class="panel box-v1 card_topo">
                                          <div class="panel-heading cinza border-none">
                                            
                                          </div>
                                          <div class="text-center col-md-12 padding-0">
                                            <img src="../miminium/img/usb-modem.svg" class="icones_card img-fluid"/>    
                                        
                                          </div>    
                                          <div class="panel-body text-right top10">
                                            <h2 class="texto_card ">0</h2>  
                                            <h5 class="texto_card superior">MODEM</h5>

                                          </div>
                                        </div>
                                </div>
                                <!--CARD 4-->
                                <div class="col-md-3 padding-7">
                                        <div class="panel box-v1 card_topo">
                                          <div class="panel-heading border-none cinza">
                                            
                                          </div>
                                          <div class="text-center col-md-12 padding-0">
                                            <img src="../miminium/img/telephone.svg" class="icones_card img-fluid"/>    
                                        
                                          </div>    
                                          <div class="panel-body text-right top10">
                                            <h2 class="texto_card">3</h2>
                                            <h5 class="texto_card superior">FIXO</h5>

                                          </div>
                                        </div>
                                </div>    
                            </div> <!--FIM CARDS TOPO-->
                            
                            <!--GRÁFICO-->
                            <div class="col-md-8 padding-7">
                                <div class="panel tamanho_centro">
                                   <div class="panel-heading-white text-center panel-heading altura_titulo titulo">
                                      <h4>Evolução do Consumo com telefonia 2017</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                          <canvas class="line-chart grafico"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--FIM GRÁFICO-->
                        
                            <!--CARD CENTRO DIREITA-->
                                <div class="col-md-4 padding-7">
                                        <div class="panel box-v1 card_topo tamanho_centro ">
                                          <div class="panel-heading border-none">
                                              
                                            <div class="col-md-12 col-sm-6 col-xs-12 text-left padding-0 borda_inf">
                                              <h4 class="text-center">Cota Mensal</h4>
                                            </div>
                                            
                                          </div>
                                                                         
                                            
                                          <div class="panel-body text-center top">
                                            <h1>80%</h1>  
                                            <h4 class="texto_card bold">R$ 120,00</h4>
                                            <h5 class="texto_card ">Voz/Dados</h5>

                                          </div>
                                        </div>
                                </div> 
                        
                        
                                <!--CARDS INFERIOR-->
                                <div class="col-md-12 padding-0"> 
                                <!--CARD 1-->
                                <div class="col-md-4 padding-7">
                                    <div class="panel box-v1 card_inf">
                                        
                                      <div class="panel-heading cinza border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-0 borda_inf">
                                          <h4 class="text-center">Telefonia Fixa</h4>
                                        </div>
                                      </div>
                                      
                                      <div class="panel-body text-center">
                                            <h4 class="texto_card center_card bold">R$ 120,00</h4>
                                            <h5 class="texto_card ">Voz</h5>
                                            
                                      </div>    
                                        
                                    </div>
                                </div>
                                <!--CARD 2-->
                                <div class="col-md-4 padding-7">
                                    <div class="panel box-v1 card_inf">
                                      <div class="panel-heading cinza border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-0 borda_inf">
                                          <h4 class="text-center">Telefonia Móvel</h4>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-6 col-sm-6 col-xs-6 text-center padding-0">
                                          <div class="panel-body text-center">
                                            <h4 class="texto_card bold">R$ 200,00</h4>
                                            <h5 class="texto_card ">Voz</h5>
                                            
                                          </div>    
                                      </div>
                                        
                                      <div class="col-md-6 col-sm-6 col-xs-6 text-center padding-0">
                                          <div class="panel-body text-center">
                                            <h4 class="texto_card bold">R$ 120,00</h4>
                                            <h5 class="texto_card ">Dados</h5>
                                            
                                          </div>    
                                      </div> 
                                    </div>
                                </div>
                                <!--CARD 3-->
                                <div class="col-md-4 padding-7">
                                        <div class="panel box-v1 card_inf">
                                          <div class="panel-heading border-none">
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center padding-0 borda_inf">
                                              <h4 class="text-center center">Consumo Total</h4>
                                            </div>
                                            
                                          </div>
                                          <div class="panel-body text-center">
                                            <h4 class="texto_card center_card bold">R$ 120,00</h4>
                                            <h5 class="texto_card ">Voz/Dados</h5>
                                            
                                          </div>
                                        </div>
                                </div>
                                    
                            </div> <!--FIM CARDS INFERIOR-->
                        
                    </div>
                    </div> <!--FIM CONTEÚDO TOTAL-->
		
      		  
              <!--FIM CONTAINER-->
</section>    
</html>
