<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>
<title>Inicio</title>

</head>
<section layout:fragment="conteudo">
	
<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title dt-dispositivo-panel">Início</h1>
			</div>
		</div>
		
		
		<div class="panel-body">			
		
		<div>
			<h3>Total de alocações: <span th:text="${quantidade}"></span> </h3>
			<h3> </h3>
		</div>
		
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md1">Modelo dispositivo</th>
							<th class="text-center col-md3">Id alocacao</th>
							<th class="text-center col-md2">Data devolucao</th>
							<th class="text-center col-md1">Data recebimento</th>
							<th class="text-center col-md1">Linha</th>
							<th class="text-center col-md1">Usuario</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="dto : ${alocacao}" >
							<td class="text-center" th:text="${dto.idAlocacaoUsuarioLinha}"></td>
							<td class="text-center" th:text="${dto.dispositivo.modeloDispositivo}"></td>
							<td class="text-center" th:if="${dto.dtDevolucao == null}">Não devolvida</td>
							<td class="text-center" th:if="${dto.dtDevolucao != null}" th:text="${dto.dtDevolucao}"></td>
							<td class="text-center" th:text="${dto.dtRecebido}"></td>
							<td class="text-center" th:text="${dto.linha.numeroLinha}"></td>
							<td class="text-center" th:text="${dto.usuario.nomeUsuario}"></td>
						</tr>
						<tr>
							<td colspan="10" th:if="${#lists.isEmpty(alocacao)}">
								Nenhuma alocação encontrada!!!
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>

</section>
</html>