<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:td="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultroq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Dispositivos</title>
</head>

<section layout:fragment="conteudo">



	<div class=" col-md-12  panel sem_sombra padding20 bg">
		<div class=" col-md-12 sem_sombra padding-0">
			<div class="col-md-6 padding-0 sem_sombra intro">
				<h3 class="text-left">Dispositivos</h3>
			</div>


			<div class="clearfix">

				<a class="btn btn-link dt-link-panel direita texto_td"
					td:href="@{/menu-usuario}">Voltar para Home</a>
			</div>



			<form class="form-horizontal" method="POST" td:action="@{/chips}">

				<div class="col-md-12 padding-0 cinza">
					<div class="panel-body bg-panel padding-7">

						<table border="1" class="tableusuario"
							style="border-radius: 20px;">
							<tr>
								<td class="tdusuaio largura_td texto_td"
									style="border-bottom: hidden; border-right: hidden; padding: 10px; border-radius: 20px;">
									Nome: <label class="b"> Nome Exemplo</label>
								</td>
								<td class="tdusuaio largura_td texto_td"
									style="border-bottom: hidden; border-right: hidden;">CPF:
									<label class="b"> 99999999999</label>
								</td>
								<td class="tdusuaio largura_td texto_td"
									style="border-bottom: hidden; border-right: hidden;">
									EMAIL: <label class="b"> nome.exemplo@exemplo.com</label>
								</td>
								<td class="tdusuaio largura_td texto_td"
									style="border-bottom: hidden;"></td>
							</tr>
							<tr>
								<td class="tdusuaio texto_td"
									style="border-right: hidden; padding: 10px">Gerência: <label
									class="b"> X</label>
								</td>
								<td class="tdusuaio texto_td" style="border-right: hidden">
									Cargo: <label class="b"> Secretária</label>
								</td>
								<td class="tdusuaio texto_td" style="border-right: hidden">
									Vinculo: <label class="b"> Y</label>
								</td>
								<td class="tdusuaio texto_td" style="border-top: hidden">
									DAS: <label class="b"> Z</label>
								</td>
							</tr>
						</table>

					</div>
					<div class="painel-body bg-panel padding-7" id="disp">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<td class=" col-sm1 bold">Id</td>
										<td class=" col-sm1 bold">Marca</td>
										<td class=" col-sm1 bold">Modelo</td>
										<td class=" col-sm1 bold">Numero de Série</td>
										<td class=" col-sm1 bold">IMEI</td>
										<td class=" col-sm1 bold">Patrimonio</td>
										<td class=" col-sm1 bold">Tipo</td>
										<td class=" col-sm1 bold">Valor</td>
										

									</tr>
								</thead>



								<tr>
									<td>1</td>
									<td>Apple</td>
									<td>5s</td>
									<td>123456789</td>
									<td>987654321</td>
									<td>comodato</td>
									<td>Celular</td>
									<td>R$ 2.000,00</td>

									
								</tr>



								<tr>
									<td>2</td>
									<td>Samsung</td>
									<td>S5</td>
									<td>1238922224</td>
									<td>12498765</td>
									<td>comodato</td>
									<td>Celular</td>
									<td>R$ 11.111,11</td>
									
								</tr>

							</table>
						</div>
					</div>
				</div>




			</form>
		</div>
	</div>







</section>
</html>