<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	   
<body>

<p style="text-align: right">

<img src="../../static/images/XXXX"/>
</p>
<p>Este e um e-mail automático do SisTel</p>
<br></br>
<h1 style="font-size=20px" th:text="|Olá ${dto.usuario.nomeUsuario}"> Olá Maria</h1>

<p> Estamos enviando essa notificação de abertura de processo nº <span th:text="${dto.numeroProcessoSei}"> numero </span> no sistema SEI com link abaixo!</p>

<a th:href="${dto.seiLink}">Link para acesso ao SEI</a>


<p><b>Divisão de Telefonia - CGTEC</b></p>

</body>


</html>
